.menu {
    width: 20%;
    height: 100%;
    background-color: darkgrey;
    color: black;
    overflow: auto;
    text-align: center;
}

.menu-item {
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    display: list-item;
    padding: 20px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}